exclude test/
exclude tool/
include paddlelabel_ml/version
include requirements.txt
include paddlelabel_ml/openapi.yml

include paddlelabel_ml/model/*/ckpt/*
include paddlelabel_ml/model/*/info.yaml

include paddlelabel_ml/model/eiseg/util/cython/_get_dist_maps.pyx
include paddlelabel_ml/model/eiseg/util/cython/_get_dist_maps.pyxbld
